@model IEnumerable<EmployeeAttendanceTracker.BLL.DTOs.DepartmentDto>


@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentId"    class="btn btn-sm btn-warning"  >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn btn-sm btn-info"     >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId"  class="btn btn-sm btn-danger"   >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
